@model List<StoniTenis.Models.Entities.RadnoVreme>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <title>Document</title>
</head>
<body>
    <input type="hidden" id="lokalID" value="@Model[0].LokalID"></input>
    <h2>Podesi radno vreme</h2>
    <ul class="accordion">

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="1">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="1" >
            <label for="1">Ponedeljak</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="2">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="2" >
            <label for="2">Utorak</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="3">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="3" >
            <label for="3">Sreda</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="4">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="4" >
            <label for="4">Cetvrtak</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="5">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="5" >
            <label for="5">Petak</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="6">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="6" >
            <label for="6">Subota</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>

        <form action="@Url.Action("AddRadnoVreme", "Dashboard")" method="post">
            <input type="hidden" name="DanUNedelji" value="7">
            <input type="hidden" name="LokalID" value="@Model[0].LokalID">
        <li class="day-container">
            <input type="checkbox" name="accordion" id="7" >
            <label for="7">Nedelja</label>
            <div class="content">
                <select class="start-time" name="VremeOtvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <span class="to-label">to</span>
                <select class="end-time" name="VremeZatvaranja">
                    <!-- vreme je dinamicki dodato -->
                </select>
                <button type="submit" id="done-button">Done</button>
            </div>
        </li>
        </form>
    </ul>
    <script type="module">
        import { initializePage } from "../js/Dashboard.js";

        initializePage(@Html.Raw(Json.Serialize(Model)));
    </script>
    <script src="~/js/Dashboard.js"></script>
</body>
</html>
