@model IEnumerable<StoniTenis.Models.Korisnik>

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Owner</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var korisnik in Model)
        {
            <tr>
                <td>@korisnik.Id</td>
                <td>@korisnik.Email</td>
                <td>@korisnik.Vlasnik</td>
                <td>@korisnik.Ime</td>
                <td>@korisnik.Prezime</td>
            </tr>
        }
    </tbody>
</table>

<!-- Existing login content -->
<h1>Login</h1>

<a class="btn btn-primary" asp-controller="Account" asp-action="LoginWithGoogle">Login with Google</a>

<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a>Hello @User.Identity.Name</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
</ul>
