@model List<StoniTenis.Models.Entities.Lokal> 


<h2>Dashboard</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Opstina</th> 
            <th>Grad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lokal in Model)
        {
            <tr>
                <td>@lokal.Id</td>
                <td>@lokal.KlubNaziv</td>
                <td>@lokal.Adresa</td>
                <td>@lokal.Opstina</td>
                <td>@lokal.Grad</td>
                <td>
                    <button onclick="window.location.href='Dashboard?id=@lokal.Id'">Go to Dashboard</button>

                </td>
            </tr>
        }
    </tbody>
</table>